.container {
  width: 100%;
}

.textarea {
  composes: field from '../styles/field.module.css';
  composes: fieldBlock from '../styles/field.module.css';
}

.error {
  composes: fieldError from '../styles/field.module.css';
}

.helperText {
  composes: helperText from '../styles/field.module.css';
}

.helperError {
  composes: helperError from '../styles/field.module.css';
}
