services:
  db:
    image: postgres:17
    hostname: db
    container_name: motorepo_db
    environment:
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
      TZ: Asia/Tokyo
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: 512M
        reservations:
          cpus: "0.2"
          memory: 256M
    restart: always

  firebase_emulator:
    build:
      context: ./development/firebase_emulator
      dockerfile: Dockerfile
    volumes:
      - ./development/firebase_emulator:/usr/src/app
    ports:
      - "4000:4000"
      - "9099:9099"
    environment:
      NODE_ENV: development
    restart: always

volumes:
  db_data: