:root {
  --background: #ffffff;
  --foreground: #171717;
}

html[data-theme-mode='dark'] {
  --background: #0a0a0a;
  --foreground: #ededed;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.imgDark {
  display: none;
}

html[data-theme-mode='dark'] .imgLight {
  display: none;
}

html[data-theme-mode='dark'] .imgDark {
  display: unset;
}

.public-page-container {
  color: var(--foreground);
  background: var(--background);
  min-height: 100vh;
  padding: 80px 96px 64px;
  font-family: var(--font-geist-sans);
}

@media (max-width: 900px) {
  .public-page-container {
    padding: 64px 24px 48px;
  }
}
